.search_container {
  height: 350px;
  font-size: 3em;
  text-align: center;
  background-color: #113E58;
  color: #fff;
}

.search_form {
  padding-top: 100px;
}

input[type="text"] {
  height: 35px;
  width: 300px;
  padding: 0 10px;
  font-size: 0.4em;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  margin-left: 1em;
  font-size: 0.4em;
  border: none;
  border-radius: 10px;
  background-color: #8a8989;
  color: white;
}

.book_container {
  text-align: center;
}

.book {
  float: left;
  width: 200px;
  height: 250px;
  margin: 2em 1em;
}

.image_container {
  min-height: 190px;
  max-height: 190px;
}

img {
  max-height: 190px;
}

a {
  color: #113E58;
}

.publisher {
  font-style: italic;
}
